<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<div id="app">
    <div>
        <span>输入k1：</span>
        <input type="text" v-model="k1">
    </div>
    <div>
        <span>输入k2：</span>
        <input type="text" v-model="k2">
    </div>
    <div>
        <span>输明文：</span>
        <input type="text" v-model="msg" @blur="show">
    </div>
    <div>
        <span>密文为：</span>
        <input type="text" v-model="val">
    </div>
    <br>
    <br>
    <!--<div>-->
        <!--<span>输密文：</span>-->
        <!--<input type="text" v-model="msg1" @blur="xxx">-->
    <!--</div>-->
    <!--<div>-->
        <!--<span>明文为：</span>-->
        <!--<input type="text" v-model="val1">-->
    <!--</div>-->
</div>
<script src="vue.js"></script>
<script>
  var vm = new Vue({
      el:'#app',
      data: {
          k1: '',
          k2: '',
          msg: '',
          val: '',
          arr:['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'],
         msg1:'',
          val1:'',

      },
      methods: {
          show() {
              for (let i = 0; i < this.msg.length; i++) {
                  var index = this.arr.indexOf(this.msg.charAt(i));
                  var y = this.k1 * index * 1 + this.k2 * 1 % 26;
                  this.val = this.val + this.a  rr[y];
              }
          },
          // xxx(){
          //     for (let i = 0; i < this.msg1.length; i++) {
          //         var index = this.arr.indexOf(this.msg.charAt(i));
          //         var x = (index-this.k2*1)%26
          //         this.val1 = this.val1 + this.arr[x];
          //     }
          // }
      }
  });
</script>
</body>
</html>