<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="val">
    <button @click="fn">加入</button>
    <ul>
        <li v-for="(val,index) in (sort,filterarr)">
            {{val}}
            <button @click="del(index)">del</button>
        </li>
    </ul>
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            arr:[],
            val:'',
        },
        methods:{
            fn(){
                this.arr.push (this.val);
                this.val="";
            },
            del(index){
                this.arr.splice(index,1);
            }
        },
        computed:{
            sort(){

                return this.arr.sort();
            },
            filterarr: function () {
                var val = this.val;
                var arr = this.arr;
                return arr.filter(function (item) {
                    return item.indexOf(val) != -1
                });;
            }
        }
    })





</script>

</body>
</html>